:root{
	--color-primary: #4285F4;
	--color-secondary: black;
	--color-tertiary: black;
	--color-background: white;
	/*
	primary: header text color and button fill
	secondary: header text outline & sub
	tertiary: button outline & extra
	background: yeet
	*/
}

.coverBlur{
	/* using color: peachpuff */
	background-image: url(img/background.jpg);
}

.coverImage{
	/* using color: peachpuff */
	background-image: url(img/background.jpg);
}

.coverText{
	color: var(--color-primary);
    text-shadow: none;
}

.buttonContainer{
	background-color: var(--color-primary);
	border-color: var(--color-tertiary);
}

.button{
	background-color: var(--color-primary);
    color: var(--color-secondary);
}

.headText{
	color: var(--color-primary);
    text-shadow: none;
}

.floatingTop {
	background-color: var(--color-primary);
	border-color: var(--color-tertiary);
}

.floatingTopText{
	color: var(--color-secondary);
}

.floatingLock {
	background-color: var(--color-primary);
	border-color: var(--color-tertiary);
}

.floatingLockText{
	color: var(--color-secondary);
}

.card-front {
	background-color: cornflowerblue;
}

.card-back {
	background-color: #E8E8E8;
}

.cardText {
	color: black;
}

.buttonCardsText {
	color: black;
}

.buttonCardsParagraph {
	color: black;
}

.cardSubheadText {
	color: black;
}

#congratsSubheadText{
	color: black;
}

.floatingCSS {
	background-color: var(--color-primary);
	border-color: var(--color-tertiary);
}

.floatingCSSText{
	color: var(--color-secondary);
}